<div class="text-center mt-5">
    <form>
        <label for="controllerName">Controller Name</label>
        <input type="text" name="controllerName" id="controllerName">

        <label for="actionName">action Name</label>
        <input type="text" name="actionName" id="actionName">

        <button type="submit">Tạo</button>
    </form>
</div>

<div>
    <% if (typeof(err) !== 'undefined') { %>
    <%= err %>

    <% } %>
</div>