<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>
    <% if (typeof(title) !== 'undefined') { %>
    <%= title %>
    <% } %>
  </title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/styles.min.css">

  <% if (typeof(style) !== 'undefined') { %>
  <% style.forEach(element => { %>
  <link rel="stylesheet" href="<%- element %>">
  <% }) %>
  <% } %>

  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/javascripts/peerjs.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-md navigation-clean-button"
    style="filter: blur(0px);background-color: #161149;color: rgb(255,255,255);">
    <div class="container"><a class="navbar-brand" href="/">EZ Code</a><button data-toggle="collapse"
        class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation"><a class="nav-link" href="/team">Team</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="/admin">ADMIN</a></li>
        </ul><span class="navbar-text actions"> <a class="login" href="/login">Log In</a><a
            class="btn btn-light action-button" role="button" href="/register">Sign Up</a></span>
      </div>
    </div>
  </nav>
  <div class="text-dark">
    <%- body %>
  </div>

  <% if (typeof(script) !== 'undefined') { %>
  <% script.forEach(element => { %>
  <script src="<%- element %>"></script>
  <% }) %>
  <% } %>
</body>

</html>