<div>
    <a name="" id="" class="btn btn-primary" href="/admin/post/new" role="button">Tạo Bài Viết Mới</a>
</div>
<hr>

<div class="card text-left">
    <img class="card-img-top" width="50px" height="50px" src="holder.js/100px180/" alt="sada">
    <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Body</p>
    </div>
    <div class="card-footer">
        <a name="" id="" class="btn btn-primary" href="#" role="button">
            <i class="fa  fa-edit"></i>
        </a>
        <a name="" id="" class="btn btn-danger" href="#" role="button">
            <i class="fa  fa-trash-alt"></i>
        </a>
    </div>
</div>