<div class="modal fade" id="ModalGetByID" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Get By ID</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row m-0">
            <div class="col-4 pl-0">
              <input class="form-control mb-4" type="text" name="" id="NumberID" placeholder="Điền ID vào">
            </div>
            <div class="col-8 text-left">
              <button type="button" class="btn btn-primary" id="form-getbyID-run">Run</button>
            </div>
          </div>
          
          <div class="card">
            <div class="card-body">
              <pre id="getReponseGetbyID">
              </pre>
            </div>                
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>