<div class="carousel slide" data-ride="carousel" id="carousel-1">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item">
            <div class="jumbotron hero-nature carousel-hero">
                <h1 class="hero-title">Tạo API Nhanh Chóng</h1>
                <p class="hero-subtitle">Bạn là người mới bước chân vào "bể khổ". Muốn thực hiện những ý tưởng của mình
                    trên nhiều nền tảng. Nhưng bạn lại không biết viết API. hoặc không muốn tốn thời gian cho việc tạo
                    API và Database....</p>
                <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Coi Thêm</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron hero-photography carousel-hero">
                <h1 class="hero-title">Nơi Giao Lưu Và Học Hỏi</h1>
                <p class="hero-subtitle">Bạn cần một nời để trao đổi và học hỏi những điều mới mẻ về kỹ thuật code, sự
                    giúp đỡ trước những con bug "huyền thoại". Thì đây chính là nơi giúp bạn điệt bug và nâng cao trình
                    độ...</p>
                <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Xem Thêm</a></p>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="jumbotron hero-technology carousel-hero">
                <h1 class="hero-title">Chỗ Này Có Kiến Thức Mới</h1>
                <p class="hero-subtitle">Đang muốn học hỏi thêm kiến thức mới. nhưng lại không tìm được bài hướng dẫn
                    nào cụ thể dễ hiều và đơn giản......</p>
                <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#">Học Thêm</a></p>
            </div>
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i
                class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next"
            href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span
                class="sr-only">Next</span></a></div>
    <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
    </ol>
</div>
<div class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Tính Tăng Nổi Bật</h2>
        </div>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Tự Tạo API</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Quản Lý API</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name">Tạo Nhóm Chat</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-leaf icon"></i>
                    <h3 class="name">Bảo Mật API</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-plane icon"></i>
                    <h3 class="name">Plugin Tiện Ích</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-phone icon"></i>
                    <h3 class="name">Đa Nền Tảng</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                        aliquam in tellus eu.</p><a class="learn-more" href="#">Learn more »</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-basic" style="background-color: rgb(238,244,247);">
    <footer>
        <div class="social">
            <a href="#"><i class="icon icon-social-instagram"></i></a>
            <a href="#"><i class="icon icon-social-snapchat"></i></a>
            <a href="#"><i class="icon icon-social-twitter"></i></a>
            <a href="#"><i class="icon icon-social-facebook"></i></a>
        </div>
        <div id="time-copyright" style="text-align: center;"></div>
    </footer>
</div>
<script>
    $("#time-copyright").text("Copyright © EZCode"+" "+new Date().getFullYear());
  </script>