.body p{
    margin-left: 10px;
    opacity: 0.7;
  }
  .poperty{
    margin-left: 10px;
    margin-right: 15px;
  }
  .custom-px{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
  }
  
  .custom-row{
    margin-top: 10px;
    margin-left: 20px;
    width: 80%;
    height: auto;
  }
  .custom-col{
    padding-left: 0px;
    padding-right: 0px;
  }
  .col-4{
    padding-left: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .run{
    border-radius: 16px;
    width: 100px;
    background-color: #00FF5D;

  }
  #copy{
    border-radius: 16px;
    width: 100px;
    background-color: #DFDFDF;
    
  }
  .custome-row{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px
  }
  .row-style{
    margin-top: 10px;
  }
  .getall{
    background-color:#00C853;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 10rem;
    margin-top: 20px;
  }
  .getbyid{
    background-color: #00C853;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    width: 10rem;
  }
  .insert{
    background-color: #00B8D4;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    width: 10rem;
  }
  .update{
    background-color: #00C853;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    width: 10rem;
  }
  .delete{
    background-color: #E53935;
    color: white;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    width: 10rem;
  }