#notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
  }
  
  .notfound .notfound-404 {
    height: 100px;
    line-height: 210px;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    font-weight: 700;
    margin: 0px;
  }
  
  .notfound h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
  }
  
  .notfound p {
    font-family: 'Lato', sans-serif;
    color: #000;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  
  .notfound a {
    font-family: 'Lato', sans-serif;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #00ffc0;
            box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #00ffc0;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  