.profile-img img
{
    width:200px;
    height:200px;
    border-radius: 50%;
    border:2px solid lightgray;    
}
.profile-img{
    padding: 20px;   
}
.title {
    margin-left: 30px;
}
.profile{
    padding: 20px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-img > input{
    display: none;
}


