
.row{
    margin-top: 20px;
}
.scroll {
    max-height: 100px;
    overflow-y: visible;
}
.box {
    border: 2px solid #538DD0;
}

.row-header {
    background-color: #337AB7;
    color: white;
    font-size: 25px;
}

.custom-control{
   margin-left: 20px;
}
.input-group{
    margin-top: 10px;
}

.form__group {
  position: relative;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}


input.form__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}