.row {
    margin-top: 10px;
}

.row-header {
    background-color: #F5F5F5;
    color: black;
    font-size: 18px;
    padding: 6px;
}
.text-bold{
    font-weight: 900;
    font-size: 20px;
}
.custom-mt-50{
    margin-top: 40;
}

.box-content{
    position: absolute;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    height: 200px;
    width: 388px;
}   
/* width */
.box-content ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .box-content ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .box-content ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .box-content ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
