.border-box {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: .25rem;
    padding: 20px 25px;
}

.border-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.img-author {
    border-radius: 100%;
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.text-title {
    /* font-size: 20px; */
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
}

.text-content {
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
}


/* .border-description {
     border: 1px solid #d7d7d7;
} */

.row-description {
    height: 8rem;
    overflow: auto;
    word-break: break-all;
    margin-top: 10px;
    border: 1px solid #d7d7d7;
}