<div id="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <article class="post-content">
                        <header class="mb-2">
                            <div class="d-sm-flex align-items-start mb-2">
                                <div class="post-author mb-2 mb-sm-0">
                                    <a href="#" class="d-flex mr-05">
                                        <div class="d-inline-block avatar--lg">
                                            <img src="../../assets/img/hero-background-technology.jpg" alt="Avatar" class="avatar"></div>
                                    </a>
                                    <div class="post-author__info mr-1">
                                        <div class="d-flex">
                                            <div class="flex-fix mr-05"><a href="#" class="text-bold post-author__name">
													9586
												</a> <span class="text-muted">@zuizemasong</span></div>
                                            <div class="subscribe"><button type="button" class="el-button el-button--mini-mini is-plain">
													<span>
														Follow
													</span></button></div>
                                        </div>
                                        <div class="stats"><span class="stats-item text-muted"><i aria-hidden="true"
													class="stats-item__icon fa fa-star"></i>
												55
											</span><span class="stats-item text-muted"><i aria-hidden="true"
													class="stats-item__icon fa fa-user-plus"></i>
												1
											</span><span class="stats-item text-muted"><i aria-hidden="true"
													class="stats-item__icon fa fa-pencil"></i>
												9
											</span> </div>
                                    </div>
                                </div>
                            </div>
                            <h1 class="article-content__title">
                                Tìm hiểu về API
                            </h1>
                        </header>
                        <div class="md-contents article-content__body my-2 flex-fill">
                            <h1 id="_1-api-0">1. API</h1>
                            <p>API là chữ viết tắt của cụm từ Application Programming Interface hay còn được gọi là giao diện lập trình ứng dụng trong tiếng Việt. API là tập các định nghĩa phương thức, giao thức và công cụ xây dựng phần mềm ứng dụng, nó
                                là phương thức để trao đổi dữ liệu giữa các hệ thống.</p>
                            <p><img src="../../assets/img/img_4953cm-.jpg" class="medium-zoom-image" lazy="loaded"></p>
                        </div>
                </div>
            </div>
            </article>
        </div>
    </div>
</div>
<div class="col-2">
    ADS
</div>