<div id="header">
    <h4>Tiêu đề bài hướng dẫn</h4>
        <div class="container-custome">
            <img src="../../images/success.png" class="img-post-index"  alt="" srcset="">
        </div>
        <div class="container-custome">
           <span>Thông tin là bất kỳ thực thể hoặc hình thức cung cấp câu trả lời cho một câu hỏi nào hoặc giải quyết sự không chắc chắn. Do đó, nó liên quan đến dữ liệu và kiến thức, vì dữ liệu đại diện cho các giá trị được gán cho các tham số và kiến thức biểu thị sự hiểu biết về những điều thực tế hay khái niệm trừu tượng.[1] Vì nó liên quan đến dữ liệu, sự tồn tại của thông tin không nhất thiết phải kết hợp với một người quan sát (ví dụ như nó tồn tại ngoài chân trời sự kiện), trong trường hợp hiểu biết thì thông tin yêu cầu một người quan sát có nhận thức.

            Thông tin được chuyển tải dưới dạng nội dung của tin nhắn hoặc thông qua quan sát trực tiếp hoặc gián tiếp. Điều được cảm nhận có thể được hiểu như một thông điệp theo đúng nghĩa của nó, và theo nghĩa đó, thông tin luôn được truyền tải như là nội dung của một thông điệp.
            
            Thông tin có thể được mã hóa thành nhiều dạng khác nhau để truyền và giải thích (ví dụ, thông tin có thể được mã hóa thành một chuỗi các dấu hiệu, hoặc truyền qua tín hiệu). Nó cũng có thể được mã hóa để lưu trữ và giao tiếp an toàn.
            
            Thông tin làm giảm sự không chắc chắn. Sự không chắc chắn của một sự kiện được đo bằng xác suất xảy ra của nó và tỷ lệ nghịch với điều đó. Sự kiện không chắc chắn hơn, thì cần thêm thông tin để giải quyết sự không chắc chắn của sự kiện đó. Bit là một đơn vị đo dữ liệu điển hình, nhưng các đơn vị khác như nat cũng có thể được sử dụng.</span>
        </div>
</div>


