<div id="logreg-forms">
    <form action="/forgotpassword" method="POST">
        <input type="email" id="resetEmail" class="form-control" placeholder="Email address" name="email" required="" autofocus="">
        <button class="btn btn-md btn-rounded btn-block form-control submit" type="submit">Reset Password</button>
        <a href="/login" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
    </form>
</div>