<div id="logreg-forms">
    <form  method="POST" action="/login">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in
                    with
                    Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in
                    with
                    Google+</span> </button>
        </div>
        <div class="input-group">
            <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Email address"
             required="" autofocus="">
        </div>

        <div class="input-group">
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
              required="">
        </div>

        <div class="input-group">
            <button class="btn btn-md btn-rounded btn-block form-control submit" type="submit"><i
                    class="fas fa-sign-in-alt"></i> Sign in</button>
        </div>

        <a href="/forgotpassword" id="forgot_pswd">Forgot password?</a>
        <hr>
    </form>
</div>