<div class="container" style=" margin-bottom: 10px;
width:400px;
  margin:10vh auto;
  height: 300px;
  background-color:#ffffff4d;">
  <form action="">
    <div class="nottificate">
      <p style="text-align: center;">
        Nhận mã thành công
      </p>
      <button class="btn btn-success" style="margin-left: 130px;">
        <a href="/resetnewpassword" style="text-decoration: none;">Reset</a>
      </button>
    </div>
  </form>
</div>
