<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-12">
                    <a href="/manager/createapi" role="button" class="btn btn-primary">Create</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="table text-center" cellspacing="0">
                        <thead>
                            <tr>
                                <th>api name</th>
                                <th>number of row</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody id="apiList">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-lg-5 px-0" style="border: 1px solid rgb(143, 148, 153);height: 400px;">
            <div class="row-header px-0">
                <div class="row-text">
                    <div class="col-12 text-left">
                        <span class="label" id="name">Vui lòng chọn API</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-right">
                    <button class="btn btn-success w-75" id="getAll" disabled><span>get all</span> </button>
                </div>
                <div class="col-4">
                    <input type="number" class="form-control" placeholder="Enter id" aria-label="Enter id" id="NumberID">
                </div>
                <div class="col-4 text-left">
                    <button class="btn btn-success w-75" id="getbyID" disabled><span>get by id</span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-right">
                    <button class="btn btn-danger w-75" id="deleteAll" disabled><span>delete all</span> </button>
                </div>
                <div class="col-4">
                    <input type="number" class="form-control" placeholder="Enter id" aria-label="Enter id" id="RemoveID" min="0">
                </div>
                <div class="col-4 text-left">
                    <button class="btn btn-danger w-75 px-0" id="deletebyID" type="submit" disabled><span>delete by id</span></button>
                </div>
            </div>
            <div class="row custom-mt-50">
                <div class="col-4 text-bold text-center">
                    <span class="label">Result</span>
                </div>
                <div class="col-8 text-left">
                    <button class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#basicExampleModal" style="border: 2px solid #3D80CC;background-color: #EDEDED;color: #3D80CC;display: none;" id="title">Open with table</button>
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Model</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Tittle</th>
                                                <th>Director</th>
                                                <th>Year</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>The Wizard of Oz</td>
                                                <td>Victor Fleming</td>
                                                <td>
                                                    1939
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>The Third Man</td>
                                                <td>Carol Reed</td>
                                                <td>
                                                    1949
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Citizen Kane</td>
                                                <td>Orson Welles</td>
                                                <td>
                                                    1941
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <span>Bạn có muốn xóa</span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="ConfirmDelete">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <div class="box-content">
                        <pre id="getReponse" style="height:170px"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var BASE_URL = '<%- BASE_URL %>';
    var POST_MANANGER_API = '<%- POST_MANANGER_API %>';
    var token = '<%- token %>';
    var POST_DELETE_API = '<%- POST_DELETE_API %>'
</script>