
<link rel="stylesheet" href="/stylesheets/freeErrorPage.css">
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>Page Not Found</h2>
        <a href="#">Homepage</a>
    </div>
</div>