<div class="modal fade" id="demoInsert" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Insert</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 text-center">
                        <p>Response</p>
                    </div>
                    <div class="col-6 text-center">
                        <p>Request</p>
                    </div>
                    <div class="container mb-4">
                        <div class="row justify-content-between poperty">
                            <div class="col-5" style="border: 1px solid #D2D2D2;">
                                <div class="body" name="body"> {
                                    <p>"data_response":[],</p>
                                    <p name="errors">"errors": ,</p>
                                    <p name="is_success">"is_success": ,</p>
                                    <p name="message">"message":</p>
                                    <p name="status_code">"status_code": ,</p>
                                    }
                                </div>
                                <div class="col-1"></div>
                            </div>
                            <div class="col-5" style="border: 1px solid #d2d2d2;">
                                <div class="body">
                                    {
                                    </br>
                                        "usename": "a",
                                </br>
                                        "password": "ahih12323i"
                                    </br>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>