
<link rel="stylesheet" href="/stylesheets/freesuccesslogin.css">

<div class="container">
    <div class="image">
        <img src="/images/success.png" style="width: 150px;" alt="" srcset="">
    </div>
    <div class="title">
        <span>Login Success</span>
    </div>
    <div class="home">
       <a href="#" class="button" role="button">Back to home</a>
    </div>
</div>